


<html>
<div style="justify-content: center">Menu</div>
<div style="display: inline-flex">
<div>
  <input type="text" placeholder="type your ingredient" [(ngModel)]="ingredients1"><br>
</div>

<div>
  <input type="text" placeholder="type your ingredient" [(ngModel)]="ingredients2"><br>
</div>
</div>
<div>
  <button (click)="checkIngredients()">Order</button>
  <span *ngIf="ordered" type="text" style="margin-left: 50px">{{ingredients1}}炒{{ingredients2}}</span>
</div>

<div>
  <button class="btn btn-light" style="background-color: lightgreen" (click)="reorder()">reorder</button>
</div>

</html>
