<div style="display: flex;justify-content: space-between;flex-direction: column">
  <div class="container">
    <h1 style="font-size: 2vw; color: white;display: flex;justify-content: space-around" >美国硅谷一线工程师在线直播授课, 为你打开IT名企的大门</h1><br>
    <h2 style="font-size: 1.5vw; color:white; display: flex;justify-content: space-around">九章算法已经帮助30000 + 人拿到心仪的Offer</h2><br>
    <div class="courses">
      <div class="course">VIP训练营</div>

      <div class="course">课程</div>

      <div class="course">微课堂</div>
    </div>
  </div>
</div>
